<p id="notice"><%= notice %></li>

<h1>
  <%= @joblist.company %>
</h1>

<h2>会社概要</h2>

<ul data-role="listview">
<li>
  <strong>設立年</strong>
</li>
<%= @joblist.data1 %>

<li>
  <strong>正社員数</strong>
</li>
<%= @joblist.data2 %>

<li>
  <strong>パート、契約社員</strong>
</li>
<%= @joblist.data3 %>


<li>
  <strong>男性社員数</strong>
</li>
<%= @joblist.data4 %>


<li>
  <strong>女性社員数</strong>
</li>
<%= @joblist.data5 %>

<li>
  <strong>資本金</strong>
</li>
<%= @joblist.data6 %>

<li>
  <strong>業種</strong>
</li>
<%= @joblist.data7 %>

<li>
  <strong>代表者</strong>
</li>
<%= @joblist.data8 %>

<li>
  <strong>担当窓口</strong>
</li>
<%= @joblist.data9 %>

<li>
  <strong>事業内容</strong>
</li>
<%= @joblist.data10 %>

<li>
  <strong>離職率</strong>
</li>
<%= @joblist.data11 %>

<h2>社員インタビュー</h2>
<li>
  <strong>インタビュー者名</strong>
</li>
<%= @joblist.data12 %><%= @joblist.data13 %><%= @joblist.data14 %>


<li>
  <strong>入社のきっかけ</strong>
</li>
<%= @joblist.data15 %>

<li>
  <strong>日常業務の内容</strong>
</li>
<%= @joblist.data16 %>

<li>
  <strong>月平均残業時間</strong>
</li>
<%= @joblist.data17 %>

<h2>代表者からのメッセージ</h2>

<li>
  <strong>当社の強み</strong>
</li>
<%= @joblist.data18 %>

<li>
  <strong>これからの会社目標</strong>
</li>
<%= @joblist.data19 %>

<li>
  <strong>理想の社員</strong>
</li>
<%= @joblist.data20 %>

<li>
  <strong>教育制度及び福利厚生</strong>
</li>
<%= @joblist.data21 %>

<li>
  <strong>入社してくるみなさんに期待すること</strong>
</li>
<%= @joblist.data22 %>

<li>
  <strong>社内イベント</strong>
</li>
<%= @joblist.data23 %>

<li>
  <strong>必須質問</strong>
</li>
<%= @joblist.data24 %>

<li>
  <strong>レポート後記</strong>
</li>
<%= @joblist.data25 %>

<li>
  <strong>こんな感じの人事でした</strong>
</li>
<%= @joblist.data26 %>
<br>
<%= link_to "Home", "/"%>
</div>

<!--
<%= link_to 'Edit', edit_joblist_path(@joblist) %> |
<%= link_to 'Back', joblists_path %>
-->