<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jobapp</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
  <%= javascript_include_tag 'application' %>
  <script src="https://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
  <%= csrf_meta_tags %>

</head>
<body>
<div data-role="page">	

<%= image_tag "logo.png" %>

<%= yield %>
<%= link_to "Home", "/"%>
</div>
</body>
</html>
